HeaderFilterRegex: 'src/.*\.hpp$'

Checks: "-*,
        bugprone-argument-comment,
        bugprone-branch-clone,
        bugprone-integer-division,
        bugprone-macro-parentheses,
        bugprone-sizeof-container,
        bugprone-sizeof-expression,
        bugprone-string-constructor,
        bugprone-suspicious-memset-usage,
        bugprone-swapped-arguments,
        bugprone-undefined-memory-manipulation,
        bugprone-use-after-move,
        cppcoreguidelines-init-variables,
        cppcoreguidelines-no-malloc,
        cppcoreguidelines-special-member-functions,
        google-build-using-namespace,
        google-explicit-constructor,
        llvm-include-order,
        misc-redundant-expression,
        misc-unused-using-decls,
        modernize-deprecated-headers,
        modernize-explicit-conversions,
        modernize-loop-convert,
        modernize-make-shared,
        modernize-move-const-arg,
        modernize-noexcept-move,
        modernize-use-auto,
        modernize-use-bool-literals,
        modernize-use-emplace,
        modernize-use-nullptr,
        modernize-use-override,
        modernize-use-using,
        performance-for-range-copy,
        performance-move-const-arg,
        performance-noexcept-move-constructor,
        performance-inefficient-algorithm,
        performance-move-constructor-init,
        performance-unnecessary-copy-initialization,
        performance-unnecessary-value-param,
        readability-braces-around-statements,
        readability-container-size-empty,
        readability-delete-null-pointer,
        readability-function-cognitive-complexity,
        readability-function-size,
        readability-identifier-naming,
        readability-implicit-bool-conversion,
        readability-isolate-declaration,
        readability-misleading-indentation,
        readability-misplaced-array-index,
        readability-named-parameter,
        readability-redundant-declaration,
        readability-redundant-function-ptr-dereference,
        readability-redundant-member-init,
        readability-redundant-string-cstr,
        readability-redundant-string-init,
        readability-simplify-boolean-expr,
        readability-static-definition-in-anonymous-namespace,
        readability-string-compare,
        readability-uniqueptr-delete-release"


CheckOptions:
  - key:    cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:  '1'
  - key:    modernize-use-override.IgnoreDestructors
    value:  '1'
  - key:    modernize-loop-convert.MaxCopySize
    value:  '16'
  - key:    modernize-loop-convert.MinConfidence
    value:  reasonable
  - key:    readability-implicit-bool-conversion.AllowIntegerConditions
    value:  '1'
  - key:    readability-implicit-bool-conversion.AllowPointerConditions
    value:  '1'
  - key:    readability-identifier-naming.NamespaceCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  "_"
  - key:    readability-identifier-naming.StructCase
    value:  CamelCase
  - key:    readability-identifier-naming.FunctionCase
    value:  CamelCase
  - key:    readability-identifier-naming.FunctionIgnoredRegexp
    value:  "^(to_json|from_json|begin|end|rays|idx|x|y|z|val|lon|lat|roll|unit|InitRay_.*|HitSurface_.*)$"
  - key:    readability-identifier-naming.ConstantParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.ConstantPrefix
    value:  "k"
  - key:    readability-function-size.StatementThreshold
    value:  '200'
  - key:    readability-function-size.ParameterThreshold
    value:  '7'
  - key:    readability-function-cognitive-complexity.Threshold
    value:  '25'
