# JetBrain IDE
.idea

# VSCode
.vscode

# cache
.cache

# CMake build directory
cmake-build-debug
cmake-build-release
build
build-FastHalo-*

doc/figs/*.nb
doc/figs/*.pdf

config.json
test.json
tmp.log
*.jpg

