# JetBrain IDE
.idea

# VSCode
.vscode

# CMake build directory
cmake-build-debug
cmake-build-release
build
build-FastHalo-*

doc/figs/*.nb
doc/figs/*.pdf
doc/*.svg
doc/*.txt

config.json
test.json
tmp.log

