QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding-left: 0.2ex;
    padding-right: 0.2ex;
    margin-top: -0.5ex;
    margin-left: 0.2ex;
    font-size: 11px;
}

QHeaderView::section
{
    border: 0px solid black;
    border-bottom: 0px;
}
